
<div id="AddCategoryModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full bg-black bg-opacity-80">
    <div class="relative p-6 top-20 w-full max-w-lg bg-white rounded-lg shadow-lg">

        <div class="grid grid-cols-2 gap-6">

            <div class="flex flex-col justify-center items-center">
                <img id="imageСategory" src="/images/no-avatar.png" alt="Uploaded Image" class="max-w-full max-h-60 object-contain mb-4" />
                <!-- File upload section -->
                <div class="flex items-center justify-center w-full mb-4">
                    <label for="uploadImageCategory" class="flex flex-col items-center justify-center border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 w-24 h-15 mt-4 mb-4">
                        <svg style="width: 50px; height: 23px" class="mb-1 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <input id="uploadImageCategory" type="file" class="hidden" accept="image/*" />
                    </label>
                </div>
            </div>


            <div>
                <div class="w-full mb-4">
                    <label for="title" class="block font-medium text-gray-900">Title</label>
                    <input id="title" type="text" class="input-style" placeholder="Enter category title" />
                </div>

                <div class="w-full mb-4">
                    <label for="priority" class="block font-medium text-gray-900">Priority</label>
                    <input id="priority" type="number" class="input-style" placeholder="Enter priority level" min="0" />
                </div>

                <div class="w-full mb-4">
                    <label for="urlSlug" class="block font-medium text-gray-900">URL Slug</label>
                    <input id="urlSlug" type="text" class="input-style" placeholder="Enter URL slug" />
                </div>
                <div>
                    <label hidden id="urlSlugError" class="error  block w-full">error</label>
                </div>

            </div>

        </div>

        <div class="flex gap-4 items-center justify-center w-full mt-4">
            <button id="saveCategoryInfo" data-modal-hide="AddCategoryModal" class="btn-style py-2 px-4 bg-green-500 text-white rounded-full shadow-md hover:bg-green-600 focus:outline-none">
                Accept category
            </button>
            <button id="cancel" data-modal-hide="AddCategoryModal" class="btn-style py-2 px-4 bg-red-500 text-white rounded-full shadow-md hover:bg-red-600 focus:outline-none">
                Don’t save
            </button>
        </div>

    </div>
    </div>





<script>
    let add_cropper;
    let add_uploadImageURL;
    let add_image; 
    let add_avatar;
    let add_uploadImage;
    let add_saveImage;
    let add_addCategoryBT;

    document.addEventListener('DOMContentLoaded', function () {


        add_image = document.getElementById('imageСategory');
        add_uploadImage = document.getElementById('uploadImageCategory');
        add_saveImage = document.getElementById('saveCategoryInfo');
        add_addCategoryBT = document.getElementById('addCategoryBT');



        add_addCategoryBT.onclick = function (e) {
            
            if (add_cropper) {
                add_cropper.destroy(); 
            }

            add_cropper = new Cropper(add_image, {
                aspectRatio: 1,
                viewMode: 1
            });

        }

        add_uploadImage.onchange = (event) => {

            const { target } = event;
            const { files } = target;

            const file = files[0];
            if (file) {
                if (/^image\/\w+/.test(file.type)) {

                    if (add_uploadImageURL) {
                        URL.revokeObjectURL(add_uploadImageURL);
                    }

                    add_image.src = add_uploadImageURL = URL.createObjectURL(file);

                    if (add_cropper) {
                        add_cropper = add_cropper.destroy();
                    }
                    add_cropper = new Cropper(add_image, {
                        aspectRatio: 1,
                        viewMode: 0.5
                    });
                    add_uploadImage.value = "";
                }
            }
        }

        add_saveImage.onclick = function (e) {
            e.preventDefault();
            const imageElement = document.getElementById("imageСategory");

            if (add_cropper) {
                var base64 = add_cropper.getCroppedCanvas().toDataURL();
                imageElement.src = base64;
            }


            const title = document.getElementById("title").value.trim();
            const priority = document.getElementById("priority").value.trim();
            const urlSlug = document.getElementById("urlSlug").value.trim();
            const urlSlugError = document.getElementById("urlSlugError");
            const imageSrc = imageElement ? imageElement.src : "/images/no-avatar.png";


            if (urlSlugError) {
                urlSlugError.hidden = true;
                urlSlugError.textContent = '';
            }

            if (!title || !urlSlug || priority === "") {
                alert("Заповніть всі поля!");
                return;
            }


            const newCategory = {
                title,
                urlSlug,
                priority,
                image: imageSrc
            };

            try {
                //Виводжу свій об'єкт категорії
                console.log("Category",newCategory);
                show_loading();
                //Посилаю запит на сервер де передаю категорію
                axios.post("https://goose.itstep.click/api/categories/add", newCategory)
                .then(resp => {
                    console.log("res", resp);
                    hide_loading();
                    document.getElementById("AddCategoryModal").classList.add("hidden");
                    window.location.reload();            
                })
                    .catch(error => {
                    console.log("problem", error);              
                    if (error.response && error.response.status === 400) {
                        const errorMessage = error.response.data.error || error.response.data.message || "";

                        if (errorMessage.includes("Даний category url уже є")) {
                            if (urlSlugError) {
                                urlSlugError.hidden = false;
                                document.getElementById("AddCategoryModal").classList.add("hidden");
                                urlSlugError.textContent = "Цей URL Slug вже існує. Виберіть інший.";
                            }
                        }
                    }

                    hide_loading();
                    });        
    
            }
            catch (error) {
                console.error("Error adding category:", error);
                hide_loading();
            }
        }
    });

</script>