
<script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>


<nav class="bg-gradient-to-r from-blue-800 to-blue-750 py-2 shadow-lg" id="navbar_user">
    <div class="max-w-7xl mx-auto flex justify-between items-center px-6">
        <!-- Логотип -->
        <a href="#" class="text-white text-3xl font-bold tracking-wide flex items-center space-x-3 hover:scale-105 transform transition duration-300">
            <img src="/images/icon-img.png" class="h-12 rounded-full shadow-md" alt="Logo">
            <span class="text-gray-100">SignUp Form</span>
        </a>

        <!-- Контейнер для кнопок -->
        <div class="ml-auto bg-white/10 p-2 rounded-lg shadow-md flex space-x-4">
            <a href="/index.html" class="text-white text-lg font-medium px-6 py-3 rounded-md bg-blue-500 hover:bg-blue-400 transition duration-300 shadow-md">
                Sign Up
            </a>
            <a href="/Login.html" class="text-white text-lg font-medium px-6 py-3 rounded-md bg-blue-500 hover:bg-blue-400 transition duration-300 shadow-md">
                Login
            </a>
        </div>
    </div>
</nav>


<script src="/js/UserAvailable.js"></script>